<% include ../layouts/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Item 1</li>
                <li class="list-group-item">Item 1</li>
                <li class="list-group-item">Item 1</li>
            </div>
        </div>

        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <h5 class="pull-right">$9.00/night</h5>
                </div>
                <h5><a href=""><%= campground.name %></a></h5>
            </div>
        </div>
    </div>
</div>





<p><%= campground.description %></p>

<!--<% campground.comments.forEach(function(comment){ %>-->
    <!--<p>-->
        <!--<strong><%= comment.author %></strong> - <div><% comment.text %></div>-->
    <!--</p>-->
<!--<% }) %>-->

<p><a class="btn btn-success" href="/campsites/<%= campground._id %>/comments/new">Add
        Comment</a></p>

<% for(var i = 0; i < campground.comments.length; i++) { %>
<p>
    <strong><%= campground.comments[i].author %></strong> - <span><%= campground.comments[i].text
    %></span>
</p>
<% } %>

<% include ../layouts/footer %>