<% include ../layouts/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Item 1</li>
                <li class="list-group-item">Item 1</li>
                <li class="list-group-item">Item 1</li>
            </div>
        </div>

        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <h5 class="pull-right">$9.00/night</h5>
                    <h5><a href=""><%= campground.name %></a></h5>
                    <p><%= campground.description %></p>
                    <p><small>Submitted by: <%= campground.author.username %></small></p>
                    <div class="text-right">
                        <a class="btn btn-warning" href="/campsites/<%= campground._id%>/edit">Edit Campsite</a>
                        <form action="/campsites/<%= campground._id %>?_method=DELETE"
                              method="POST">
                            <button class="btn btn-danger">Remove</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="well">
                <div class="text-right">
                    <p>
                        <a class="btn btn-success"
                           href="/campsites/<%= campground._id %>/comments/new">AddComment</a>
                    </p>
                </div>
                <hr>

                <% for(var i = 0; i < campground.comments.length; i++) { %>
                    <div class="row">
                        <div class="col-md-11">
                            <strong><%= campground.comments[i].author.username %></strong> -
                            <span><%= campground.comments[i].text %></span>
                            <p class="pull-right">10 days ago</p>
                        </div>
                    </div>
                <% } %>
            </div>

        </div>
    </div>
</div>

<% include ../layouts/footer %>